<main class="principal">
  <h2 class="principal__titulo">Dados do cadastro</h2>

  <form class="principal__formulario" id="formulario" [formGroup]="formulario">
    <h3 class="principal__subtitulo">Dados pessoais</h3>
    <div class="formulario__campo">
      <label class="campo__etiqueta" for="nome">Nome Completo</label>
      <input formControlName="nome" id="nome" class="campo__escrita">
      <span class="erro__texto" *ngIf="formulario.controls['nome']?.errors?.['required'] && formulario.controls['nome']?.touched">
        Nome eh um campo obrigatorio
      </span>
      <span class="erro__texto" *ngIf="formulario.controls['nome']?.errors?.['minlength'] && formulario.controls['nome']?.touched">
        Nome precisa de no minimo 3 caracteres
      </span>
    </div>
    <div class="formulario__dupla">
      <div class="formulario__campo">
        <label class="campo__etiqueta" for="nascimento">Nascimento</label>
        <input formControlName="nascimento" id="nascimento" type="date" class="campo__escrita" maiorIdadeValidator/>
        <span class="erro__texto" *ngIf="formulario.controls['nascimento']?.errors?.['maiorIdadeValidator'] && formulario.controls['telefone']?.touched">
          Usuario menor de idade
        </span>
      </div>
      <div class="formulario__campo">
        <label class="campo__etiqueta" for="telefone">Contato</label>
        <input formControlName="telefone" id="telefone" type="tel" placeholder="(XX) XXXXX-XXXX" class="campo__escrita"/>
        <span class="erro__texto" *ngIf="formulario.controls['telefone']?.errors?.['required'] && formulario.controls['telefone']?.touched">
          telefone eh um campo obrigatorio
        </span>
        <span class="erro__texto" *ngIf="formulario.controls['telefone']?.errors?.['pattern'] && formulario.controls['telefone']?.touched">
          O campo de telefone está faltando algo.
        </span>
      </div>
    </div>
    <div class="formulario__campo">
      <label class="campo__etiqueta" for="email">E-mail</label>
      <input formControlName="email" id="email" type="email" class="campo__escrita"/>
      <span class="erro__texto" *ngIf="formulario.controls['email']?.errors?.['required'] && formulario.controls['email']?.touched">
        Email eh um campo obrigatorio
      </span>
      <span class="erro__texto" *ngIf="formulario.controls['email']?.errors?.['email'] && formulario.controls['email']?.touched">
        O campo de email deve seguir este padrão: "exemplo@dominio.com"
      </span>
    </div>


    <h3 class="principal__subtitulo">Endereço</h3>

    <div class="formulario__campo">
      <label class="campo__etiqueta" for="cep">CEP</label>
      <input formControlName="cep" id="cep" class="campo__escrita" (blur)="consultarCep()" validadorCep/>
      <div id="erro">
        <span class="erro__texto" *ngIf="formulario.controls['cep']?.errors?.['required'] && formulario.controls['cep']?.touched">
          O campo de CEP é obrigatório
        </span>
        <span class="erro__texto" *ngIf="formulario.controls['cep']?.errors?.['pattern'] && formulario.controls['cep']?.touched">
          O campo de CEP deve seguir este exemplo: 00000-000
        </span>
        <span class="erro__texto" *ngIf="formulario.controls['cep']?.errors?.['validadorCep'] && formulario.controls['cep']?.touched">
          O CEP nao existe
        </span>
      </div>
    </div>

    <div class="formulario__campo">
      <label class="campo__etiqueta" for="endereco">Endereço</label>
      <input formControlName="endereco" id="endereco" class="campo__escrita" />
      <span class="erro__texto" *ngIf="formulario.controls['endereco']?.errors?.['required'] && formulario.controls['endereco']?.touched">
        O campo de endereco é obrigatório
      </span>
      <span class="erro__texto" *ngIf="formulario.controls['endereco']?.errors?.['minlength'] && formulario.controls['endereco']?.touched">
        O campo endereco deve possuir no minimo 3 letras
      </span>
    </div>
    <div class="formulario__dupla">
      <div class="formulario__campo">
        <label class="campo__etiqueta" for="numero">Numero</label>
        <input formControlName="numero" id="numero" class="campo__escrita" />
        <span class="erro__texto" *ngIf="formulario.controls['endereco']?.errors?.['required'] && formulario.controls['endereco']?.touched">
          O campo de numero é obrigatório
        </span>
        <span class="erro__texto" *ngIf="formulario.controls['endereco']?.errors?.['minlength'] && formulario.controls['endereco']?.touched">
          O campo numero deve possuir apenas numeros
        </span>
      </div>
      <div class="formulario__campo">
        <label class="campo__etiqueta" for="complemento">Complemento</label>
        <input formControlName="complemento" id="complemento" class="campo__escrita" />
      </div>
    </div>
    <div class="formulario__campo">
      <label class="campo__etiqueta" for="bairro">Bairro</label>
      <input formControlName="bairro" id="bairro" class="campo__escrita" />
      <span class="erro__texto" *ngIf="formulario.controls['bairro']?.errors?.['required'] && formulario.controls['bairro']?.touched">
        O campo de numero é obrigatório
      </span>
    </div>
    <div class="formulario__dupla">
      <div class="formulario__campo">
        <label class="campo__etiqueta" for="cidade">Cidade</label>
        <input formControlName="cidade" id="cidade" class="campo__escrita" />
        <span class="erro__texto" *ngIf="formulario.controls['cidade']?.errors?.['required'] && formulario.controls['cidade']?.touched">
          O campo de numero é obrigatório
        </span>
      </div>

      <div class="formulario__campo">
        <label class="campo__etiqueta" for="estado">UF</label>
        <select id="estado" formControlName="estado" class="campo__escrita">
          <option value="AC">Acre</option>
          <option value="AL">Alagoas</option>
          <option value="AP">Amapá</option>
          <option value="AM">Amazonas</option>
          <option value="BA">Bahia</option>
          <option value="CE">Ceará</option>
          <option value="DF">Distrito Federal</option>
          <option value="ES">Espírito Santo</option>
          <option value="GO">Goiás</option>
          <option value="MA">Maranhão</option>
          <option value="MT">Mato Grosso</option>
          <option value="MS">Mato Grosso do Sul</option>
          <option value="MG">Minas Gerais</option>
          <option value="PA">Pará</option>
          <option value="PB">Paraíba</option>
          <option value="PR">Paraná</option>
          <option value="PE">Pernambuco</option>
          <option value="PI">Piauí</option>
          <option value="RJ">Rio de Janeiro</option>
          <option value="RN">Rio Grande do Norte</option>
          <option value="RS">Rio Grande do Sul</option>
          <option value="RO">Rondônia</option>
          <option value="RR">Roraima</option>
          <option value="SC">Santa Catarina</option>
          <option value="SP">São Paulo</option>
          <option value="SE">Sergipe</option>
          <option value="TO">Tocantins</option>
          <option value="EX">Estrangeiro</option>
        </select>
      </div>

    </div>
    <button type="submit" class="formulario__botao" (click)="cadastrar()">Enviar formulário</button>
    </form>
</main>
